:root {
    --color-gray: rgb(28, 28, 28);
    --color-light-gray: rgb(141, 141, 141);
}

body {
    background-color: #aeb2be;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}

html {
    min-height: 100vh;
    color: #1f1f1f;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

aside, main {
    width: 100%;
    min-height: 100vh;
}

aside {
    flex: 2 1 auto;
    padding: 0.25em;
}

main {
    flex: 1 1 auto;
    background-color: white;
    border-left: 3px var(--color-gray) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 0.35em;
}

.name {
    margin: 0;
}

hr {
    margin: 2em;
}

.haiku-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    min-width: 50%;
}

.updates-title {
    margin: 0;
    padding: 0;
}

.update {
    padding: 0.5em;
}

.update-title {
    margin: 0;
    padding: 0;
    font-style: italic;
}

.update-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

.haiku-wrapper {
    width: 50%;
}

.haiku {
    text-align: center;
    min-width: 20em;
    max-width: 25em;
    min-height: 6em;
    background-color: #e0e0e0;
    border: 2px solid var(--color-gray);
    border-radius: 0.5em;
    padding: 0.6em;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.haiku-line {
    margin: 0;
    padding: 0;
}

.haiku-meta {
    text-align: left;
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    color: gray;
}

small {
    font-size: 0.8em;
    color: gray;
}

.haiku-input {
    height: auto;
}

.post-fields {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.haiku-author {
    background-color: inherit;
    border: none;
}

.haiku-author::placeholder {
    font-style: italic;
}

.haiku-author:focus {
    outline: none;
}

#haiku-input {
    background: none;
    border: none;
    resize: none;
    text-align: center;
    vertical-align: center;
    width: 100%;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
}

#haiku-input::placeholder {
    text-align: center;
    vertical-align: center;
}

#haiku-input:focus {
    border: none;
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.haiku-post {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

form {
    padding: 0;
    margin: 0;
}

.haiku-sep {
    background: linear-gradient(var(--color-gray), var(--color-gray)) no-repeat center/3px 100%;
    height: 3em;
    width: 100%;
}

footer {
    padding: 1em;
}

.warning {
    background-color: #d3a16e;
    border-radius: 0.4em;
    padding: 0.025em 0.35em;
}

.error {
    background-color: #e88484;
    border-radius: 0.4em;
    padding: 0.025em 0.35em;
}

[contenteditable=true]:empty:not(:focus):before{
    content:attr(data-ph);
    font-style:italic;
    color: var(--color-light-gray)
}

@media only screen and (max-width: 768px) {
    aside {
        width: 0;
    }

    main {
        border: none;
    }

    .haiku {
        width: 100%;
        margin-left: 1em;
        margin-right: 1em;
    }
}