<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>navy.cafe/renga</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
<aside>
    <h1 class="updates-title">updates</h1>
    <div class="update">
        <details>
            <summary class="update-title">09/19/22</summary>
            <ul class="update-list">
                <li>optimized CSS for mobile devices</li>
                <li>fixed submission on refresh</li>
                <li>implemented saving haikus to disk (yes this wasn't done)</li>
                <li>ordered haikus from newest to oldest</li>
                <li>added link to source & website plug</li>
                <li>added author field input</li>
                <li>added syllable count feedback<small> [requires JS]</small>
                    <ul>
                        <li>you are free to write haikus that break the format!</li>
                        <li>line will be coloured <span class="error">red</span> if syllable count is incorrect</li>
                        <li>line will be coloured <span class="warning">orange</span> if line is over 3</li>
                    </ul>
                </li>
            </ul>
        </details>
    </div>
</aside>
<main>
    <header class="title">
        <h1 class="name">renga</h1>
        <nav>
            <small class="about">[<a href="https://en.wikipedia.org/wiki/Renga">about</a>]</small>
            <small class="about">[<a href="#footer">bottom</a>]</small>
            <small class="about">[<a href="https://github.com/kadenscott/renga">source</a>]</small>
        </nav>
    </header>
    <hr>
    <div class="haiku-container">
        <article class="haiku haiku-input">
            <form method="post">
                <label for="haiku-input"></label>
                <textarea name="lines" autofocus rows="3" id="haiku-input" placeholder="5, 7, and 5..."></textarea>
                <div class="post-fields">
                    <label><small>author</small>
                        <input class="haiku-author" name="author" placeholder="anonymous">
                    </label>
                    <button id="haiku-post" class="haiku-post" type="submit">[post]</button>
                </div>
            </form>
        </article>
        <th:block th:each="haiku, ctx : ${haikus}">
            <span class="haiku-sep"></span>
            <article class="haiku">
                <div class="empty"></div>
                <div class="lines">
                    <p class="haiku-line" th:each="line : ${haiku.lines()}" th:text="${line}"></p>
                </div>
                <p class="haiku-meta">by <b th:text="${haiku.author().name()}"></b>, <b th:text="${haiku.time()}"></b>
                </p>
            </article>
        </th:block>
    </div>
    <footer id="footer">
        <small>started sept 2022 by <a href="https://kaden.sh">a developer from 🇨🇦</a></small>
    </footer>
</main>
<!--<script async defer src="renga.js"></script>-->
</body>
</html>